/*###############################
###
###     _fonts.scss
###     KGV1925 Website
###     BASED ON: Angular 21.02.0, SCSS
###     AUTHOR: Benjamin Bennewitz
###
###
###       ██████╗  ▀█
###       ██╔══██╗ █▄
###       ██████╦╝
###       ██╔══██╗
###       ██████╦╝
###       ╚═════╝
###
###
#################################*/

/* ========================================================================== 
   INHALTSVERZEICHNIS

   01   Font Face
   ========================================================================== */

/* ==========================================================================
   01   Font Face
   ========================================================================== */

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url('../assets/fonts/fraunces-variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../assets/fonts/inter-variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url('../assets/fonts/material-symbols-outlined-latin-fill-normal.woff2') format('woff2');
}
